@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.text-pink {
  color: #ff42a5;
}
.container {
  max-width: 1440px;
}
/* Navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-section {
  display: flex;
  align-items: center;
}
.logo-section > img {
  width: 86px;
}
.logo-name {
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: 20px;
  color: #0b0223;
}
nav {
  margin: 30px 0;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  font-size: 1.2rem;
  list-style: none;
  margin-left: 30px;
  color: #3c354f;
  text-align: center;
}
a {
  text-decoration: none;
}
.youtube {
  color: #f61c0d;
  margin: 0px 10px;
}
.tiktok {
  color: #0b0223;
}
.btn-gray {
  padding: 18px 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
/* Banner Section */
.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(241, 68, 174, 0.03);
}
.banner-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
}
.banner-main-title {
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.banner-short-description {
  font-size: 1.25rem;
  margin-bottom: 16px;
  font-weight: 500;
}
.btn-pink {
  margin-top: 40px;
  margin-right: 25px;
  padding: 20px 40px;
  border: none;
  border-radius: 50px;
  background-color: #ff42a5;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
}
.btn-primary {
  margin-top: 40px;
  padding: 20px 40px;
  border: none;
  border-radius: 50px;
  background-color: #4ec5f7;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
}
/* We Are Gamer */
.we-are-gamer-section {
  padding: 100px 0;
}
.we-are-gamer-section img {
  width: 700px;
}
.we-are-gamer {
  text-align: right;
}
.we-are-gamer-title {
  font-size: 3rem;
}
.we-are-gamer-description {
  font-size: 1rem;
  color: #534c64;
  font-weight: 400;
  line-height: 30px;
  width: 520px;
}
.know-more-btn {
  margin-right: 0px;
  margin-top: 30px;
  margin-bottom: 24px;
}
.we-are-gamer h5 {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.we-are-gamer h3 {
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
}
/* Online Games Section */
.online-games-section {
  margin: 120px 0px;
}
.online-games-title {
  color: #0b0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.funny-video-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.online-games-description {
  color: #534c64;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 50px;
}
.online-games-card {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}
.card {
  width: 342px;
  height: 400px;
}
.card img {
  width: 100%;
  margin-bottom: 24px;
}
/* Play Instantly Section*/
.play-instantly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
}
.play-instantly-text {
  width: 350px;
  text-align: right;
}
.play-instantly-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 24px;
}
.play-instantly-description {
  color: #534c64;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
}
.play-instantly-img > img {
  width: 100%;
}
.play-instantly-img-two > img {
  width: 320px;
  position: relative;
  bottom: 280px;
  right: 160px;
}
/* Games Section*/
.games{
  background-color: rgba(255, 66, 164, 0.14);
  padding: 120px 0px;
}
.games-card {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  
}
.single-card {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  border: none;
}
.single-card img {
  width: 60px;
  height: 60px;
}
.single-card h4 {
  color: #0b0223;
  font-size: 1.25rem;
  font-weight: 600;
}
.game-card-second{
  margin-top: 28px;
}
/* Mobile Responsive */

@media screen and (max-width: 425px) {
  nav,
  .logo-section,
  nav ul,
  .banner,
  .play-instantly{
    flex-direction: column;
    gap: 60px;
  }
  .online-games-card {
    flex-direction: column;
    gap: 100px;
  }
  .logo-name,
  nav ul li {
    margin-left: 0;
  }
  .banner img {
    width: 100%;
    padding: 0 20px;
  }
  .we-are-gamer {
    text-align: center;
  }
  .we-are-gamer-description {
    width: 100%;
    padding: 0 0px;
  }
  .online-games-card {
    align-items: center;
  }
  .online-games-description {
    text-align: center;
    padding: 0px 25px;
  }
  .card p {
    text-align: center;
  }
  .play-instantly-img {
    margin-left: 50px;
  }
  .play-instantly-img > img {
    width: 250px;
  }
  .play-instantly-img-two > img {
    width: 150px;
    position: relative;
    bottom: 100px;
    right: 70px;
  }
  .play-instantly-text {
    text-align: center;
  }
  .games-card{
    flex-direction: column;
    gap: 20px;
    padding: 0 70px;
  }
  .game-card-second{
    margin-top: 20px;
  }
}

/* Tablet Responsive */
@media screen and (min-width: 426px) and (max-width: 768px) {
  nav,
  .banner,
  .play-instantly {
    flex-direction: column;
    gap: 60px;
  }
  .banner {
    padding-top: 20px;
  }
  .banner img {
    width: 100%;
    padding: 0 20px;
  }
  .we-are-gamer {
    text-align: center;
  }
  .we-are-gamer-description {
    width: 100%;
    padding: 0 20px;
  }
  .online-games-card {
    flex-direction: column;
    gap: 100px;
  }
  .online-games-card {
    align-items: center;
  }
  .card p {
    text-align: center;
  }
  .play-instantly {
    margin-top: 100px;
  }
  .play-instantly-img {
    margin-left: 50px;
  }
  .play-instantly-img > img {
    width: 350px;
  }
  .play-instantly-img-two > img {
    width: 250px;
    position: relative;
    bottom: 200px;
    right: 100px;
  }
  .play-instantly-text {
    text-align: center;
  }
  .games-card{
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 70px;
  }
  .game-card-second{
    margin-top: 20px;
  }
}
