@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.text-pink{
    color: #FF42A5;
}
/* Navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-section{
    display: flex;
    align-items: center;
}
.logo-section > img{
    width: 86px;
}
.logo-name{
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 20px;
    color: #0B0223;
}
nav{
    margin: 30px 0;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    font-size: 1.2rem;
    list-style: none;
    margin-left: 30px;
    color: #3C354F;
    text-align: center;
}
a{
    text-decoration: none;
}
.youtube{
    color: #F61C0D;
    margin: 0px 10px;
}
.tiktok{
    color: #0B0223;
}
.btn-gray{
    padding: 18px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* Mobile Responsive */

@media screen and (max-width: 425px){
    nav,
    .logo-section,
    nav ul{
        flex-direction: column;
        gap: 60px;
    }
    .logo-name,
    nav ul li{
        margin-left: 0;
    }
}
/* Tablet Responsive */
@media screen and (min-width: 425px) and (max-width: 768px){
    nav{
        flex-direction: column;
        gap: 60px;
    }
}